:host {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(0,1fr), 1fr minmax(0,1fr);
    border: solid 0.5px rgb(181,181,181);
    cursor: pointer;
    background-color: #fff;
}

div {
    grid-column:2;
    grid-row:2;
}

img {
    grid-column:1;
    grid-row:1/4;
    width:100%;
}

h3 {
    text-transform: uppercase;
    font-weight: 100;
    color: rgb(181,181,181);
    font-size: 0.75em;
    line-height: 1.5em;
    margin: 0px 18px 6px 18px;
    padding: 0px;
}

h2 {    
    margin: 0px 18px 0px 18px;
    padding: 0px;
    font-size:1.25em;
    line-height:1.2em;
    cursor:pointer;
    font-weight:500;
}

h2:hover {
    text-decoration:underline;
}